Icon*
.nosync*
.DS_store
.tsv
.json
/archive/logfiles
*.tsv
*.csv
*.png
*.log
*.log
*.feather
KISS/__pycache__
*.pyc
*.fea
*.pstats
.vscode/extensions.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
